
.btn-blue{
    background: $color-blue;
    transition: all .5s;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    border-color: $color-blue;
    &:hover{
        background: $color-blue-80;
         border-color: $color-blue-80;
    }
}
