@import "./_variables.scss";

.btn-blue {
  background: $color-blue;
  transition: all 0.5s;
  padding: 15px 30px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border-color: $color-blue;
  &:hover,&:focus,&:active {
    background: $color-blue-80 !important;;
    border-color: $color-blue-80 !important;;
    color: #fff;
  }

  text-transform: uppercase;
}

.btn-white {
  background: #fff;
  transition: all 0.5s;
  text-transform: uppercase;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  color: #1991b1;
  font-weight: 600;
  border-color: #1991b1;
}
.btn-white:hover {
  background: #fff;
  border-color: #1991b1;
  color: #1991b1;
}
.btn-white i {
  padding-right: 6px;
}
.btn-white:focus {
  box-shadow: none;
  background: #fff;
  color: #1991b1;
  border-color: #1991b1;
  background: #fff;
  border-color: #1991b1;
}

.btn-submit {
  margin-left: 10px;
}
