.full-page-wrapper {
    height: 130vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../../../styles/img/login-background.png");
    background-position: center;
  }

  .full-page-wrapper .openhie-card {
    max-height: fit-content;
    max-width: 460px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
    padding: 50px 30px;
    display: flex;
    margin: auto;
    border: 0;
  }

  .openhie-form .form-label,
.openhie-form .form-check-label {
  color: #62666a;
  font-size: 14px;
  font-family: Open Sans;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.openhie-form .form-control {
  display: inline-flex;
  padding: 14.5px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #f0f4f7;
  background: #f8faff;
  color: #62666a;
  font-size: 16px;
  font-family: Open Sans;
}

@media (max-width: 991px) {
  .openhie-form .checkbox-group .form-check-inline {
    width: 50%;
  }
}

.openhie-primary {
    border-radius: 10px ;
    background: #009fc8 ;
    display: flex ;
    padding: 10px 20px ;
    gap: 5px ;
    text-transform: uppercase;
    color: #fff ;
    font-size: 16px ;
    font-weight: 600 ;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    width: fit-content;
  }

.position{
  position: absolute;
  top: 100%;
  left: 0;
  padding-bottom: 0.5rem;
}  

.password{
  margin-top: 0.5rem;
}

.login{
  border-color: #ccdade;
}

.align{
  text-align: center;
}

.login-button{
  text-align: center !important;
  font-size: 17px !important;
  height: 52px !important;
  padding-top:6px !important;
}
