<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .email{
        background-color:#ccf0d5;
        width:100wh;
        height:100vh;
        }
        .email-box{
        border:2px solid black;
        width:50%;
        }
    </style>
</head>
<body>
<div class="email">
    <div class="email-box">
        <h1>Account approval email</h1>
        <p>Hello!! ${username}</p>
        <p>Your account has been approved. ${link}</p>
    </div>
</div>
</body>
</html>