.forgot-button{
  width: 95px !important;
  padding-left: 0px !important;
  font-size: 14px !important;
  color:white !important;
}

.back-button{
  width: 133px !important;
  text-align: center !important;
  padding-left: 3px !important;
  font-size: 14px !important;
  color:white !important;
}
