.tablinks{
    padding: 15px;
    width: 10rem;
    background-color:#bddbe2;
    color:rgba(0, 0, 0, 0.589);
    border:0.3px solid rgb(0, 0, 0);
}
.activeTab{
    background-color: #009FC8;
    color: white;
}
.table-responsive{
    margin-top: 3rem;
}