@import "../scss/_header.scss";
@import "../scss/_sidebar.scss";
@import "../scss/_utilities.scss";
@import "../scss/_variables.scss";
@import "../scss/_buttons.scss";
@import "../scss/_table.scss";
@import "../scss/_form.scss";
@import "../scss/_common.scss";
@import "../scss/_footer.scss";

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: $color-black-50;
}
.expand {
  margin-left: 30px !important;
}

.notificationSuccess {
  border-width: 1px;
  border-color: lightgreen;
  border-style: solid;
}

.notificationError{
  border-width: 1px;
  border-color: red;
  border-style: solid;
}
