@import "./variables.scss";
#adminUsers {
  #wrapper {
    transition: 0.5s;
    margin-left: 230px;
    padding: 90px 30px;
    position: relative;
    min-height: calc(100vh - 64px);
    @media (max-width: 767.98px) {
      margin-left: 40px;
    }
  }
  .add-admin-user {
    background-color: #009fc8;
  }

  .btn-submit {
    margin-left: 10px;
  }

  .action-icons-container {
    display: flex;
    justify-content: flex-start;
  }
  .action-icon {
    cursor: pointer;
  }

  .pagination-ui {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  .badges-green {
    display: inline-block;
    background: $color-green-20;
    color: $color-green;
    border-radius: 4px;
    padding: 0px 20px;
    border: 1px solid $color-green-10;
    width: 6rem;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    margin-right: 1rem;
  }

  .table-responsive {
    margin-top: 3rem;
  }
}
.reset-button {
  width:165px;
}

