.add-admin-user {
  background-color: #009fc8;
}

.btn-submit {
  margin-left: 10px;
}

.action-icons-container {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.action-icon {
  cursor: pointer;
}
