// PageNotFound.scss

$container-background-color: #f4f4f4;
$heading-color: #333;
$description-color: #555;
$link-color: #007bff;

.containerr {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $container-background-color;

  .contentt {
    text-align: center;

    .headingg {
      font-size: 3rem;
      margin-bottom: 20px;
      color: $heading-color;
    }

    .descriptionn {
      font-size: 1.2rem;
      margin-bottom: 20px;
      color: $description-color;
    }

    .linkk {
      font-size: 1.2rem;
      color: $link-color;
      text-decoration: none;
    }
  }
}
