.heroBanner {
  padding: 4rem 0;
  text-align: center;
}

.hero__title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero__subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.buttons {
  margin-top: 1.5rem;
}

.features {
  padding: 4rem 0;
}

.feature {
  text-align: center;
  padding: 2rem;
}

.heroImage {
  width: 80%; 
  max-width: 250px; 
  height: auto; 
  display: block; 
  margin: 0 auto; 
}
