
  #automatedTesting {
    #wrapper {
      margin-left: 230px;
      min-height: calc(100vh - 64px);
      padding: 90px 30px;
      position: relative;
      transition: .5s;
  }
    /*** breadcrumb container ***/
  .bcca-breadcrumb {
    display: flex;
    flex-direction: row-reverse;
    flex-shrink: 0;
    width: fit-content;
    margin-bottom: 15px;
    position: relative;
    border-radius: 4px;
  }

  .capitalize-words {
    text-transform: capitalize;
  }

  /*** breadcrumb items ***/
  .bcca-breadcrumb-item {
    transition: all 0.2s ease-in-out;
    height: 40px;
    background: white;
    box-shadow: 0px 0px 18px -2px #d9d9d9;
    line-height: 40px;
    padding-left: 30px;
    padding-right: 10px;
    font-size: 13px;
    font-weight: 600;
    color: rgba(74, 74, 74, 0.8);
    position: relative;
    cursor: pointer;
    float: left;
  }

  .bcca-breadcrumb-item:after {
    transition: all ease-in-out 0.2s;
    content: "";
    position: absolute;
    left: calc(100% - 10px);
    top: 6px;
    z-index: 1;
    width: 0;
    height: 0;
    border: 14px solid #ffffff;
    border-left-color: transparent;
    border-bottom-color: transparent;
    box-shadow: 0px 0px 0 0px #d9d9d9, 5px -5px 10px -4px #d9d9d9;
    transform: rotate(45deg);
    margin-left: -4px;
  }

  .bcca-breadcrumb-item:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 10px;
  }

  .bcca-breadcrumb-item:first-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: rgba(23, 165, 98, 0.06);
  }

  .bcca-breadcrumb-item:first-child:after {
    content: "";
    display: none;
  }

  .bcca-breadcrumb-item i {
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.2);
  }

  /*** hover breadcrumbs ***/
  .bcca-breadcrumb-item:hover {
    background-color: #f9f9f9;
  }

  .bcca-breadcrumb-item:hover:after {
    border: 14px solid #f9f9f9;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }

  .bcca-breadcrumb-item:first-child:hover {
    background-color: rgba(23, 165, 98, 0.15);
  }

  .Workflow-testing-wrapper {
    padding: 90px 30px 90px 230px;
    position: relative;
    min-height: calc(100vh - 64px);
  }

  @media (max-width: 767.98px) {
    .Workflow-testing-wrapper {
      padding: 90px 12px;
    }
  }

  .Workflow-testing-wrapper .btn-start {
    border-radius: 4px;
    border: 1px solid #d0d7de;
    background: #fff;
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 15px;
  }

  .Workflow-testing-wrapper .btn-start:focus {
    box-shadow: none;
  }

  .Workflow-testing-wrapper .btn-start i {
    font-size: 20px;
    color: #4dca70;
    margin-right: 6px;
  }

  .finished {
    text-align: left;
    height: 35px;
  }

  .expanded-row {
    height: 3.5rem;
    align-items: center;
    justify-content: center;
    line-height: 50px;
  }

  .expanded-row p {
    margin-bottom: 0px;
  }

  .abtn {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .spinner {
    height: 10px;
    width: 10px;
  }

  tbody {
    tr:nth-child(odd) {
      background-color: #F0F6FB !important;
    }

    tr:nth-child(even) {
      background-color: #fff2f0 !important;
    }

    tr:nth-child(4n+3) {
      background-color: #fff !important;
    }

  }
  .custom-breadcrumb .breadcrumb-item {
    // font-size: 16px;
        text-decoration: none;
      } 
}