@import "../scss/_header.scss";
@import "../scss/_sidebar.scss";
@import "../scss/_utilities.scss";
@import "../scss/_variables.scss";
@import "../scss/_buttons.scss";
@import "../scss/_table.scss";
@import "../scss/_form.scss";
@import "../scss/_common.scss";
@import "../scss/_footer.scss";

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: $color-black-50;
}
.expand {
  margin-left: 30px !important;
}

//styles for notifications.
.notificationSuccess {
  border-width: 1px;
  border-color: #b7eb8f;
  border-style: solid;
  background-color: #f6ffed !important
}

.notificationError {
  border-width: 1px;
  border-color: #ffccc7;
  border-style: solid;
  background-color: #fff2f0 !important;
}

.notificationInfo {
  border-width: 1px;
  border-color: #91caff;
  border-style: solid;
  background-color: #e6f4ff !important;
}

.notificationWarning {
  border-width: 1px;
  border-color: #ffe58f;
  border-style: solid;
  background-color: #fffbe6 !important;
}
